# Python
__pycache__/
*.py[codt]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
sdist/
develop-eggs/
.installed.cfg

# Virtualenv
.venv/
venv/
env/
env*/

# IDE
.idea/
*.ipr
*.iml
*.iws
.vscode/

# Env & secrets
.env

# Django local/production settings
config/settings/local.py
config/settings/production.py

# Django static/media
config/assets/
config/static/
staticfiles/
media/

# Logs
*.log
pip-log.txt

# Tests & coverage
.coverage
.tox/
nosetests.xml
.pytest_cache/

# mypy
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# DB
*.db
*.sqlite3
